@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
/*font-family: 'Karla', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@900&display=swap');
/*font-family: 'Roboto Condensed', sans-serif;*/

body{
    height: 100vh;
}

.header-box{
    height: 10vh;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vh;
}

.logo-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-box img{
    height: 6vh;
    margin-right: 2vh;
}
.logo-box h1{
    color: #FFF;
    font-family: 'Karla', sans-serif;
    font-size: 4vh;
    font-weight: 700;
    letter-spacing: -0.2vh;
}

.header-box h3{
    color: #FFF;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 2.2vh;
}



.container{
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.form-box{
    width: 70%;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input-box input{
    border-radius: 0.5vh;
    border: 0.1vh solid  #D1D5DB;
    box-shadow: 0 0.8vh 1.5vh 0px rgba(0, 0, 0, 0.05);
    font-size: 2.4vh;
    padding: 1vh;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    margin-bottom: 2vh;
}
.input-box label{
    color: #374151;
    font-family: 'Karla', sans-serif;
    font-size: 2.4vh;
    font-weight: 500;
    margin-bottom: 1vh;
}
.input-item{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.form-box button{
    width: 100%;
    height: 6vh;
    border-radius: 0.5vh;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    box-shadow: 0 0.8vh 1.5vh 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 2.4vh;
    font-weight: 700;
    letter-spacing: -0.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.icon-image{
    margin-left: 1.5vh;
}

.form-box button:hover{
    transform: scale(1.01);
}

.meme{
    margin-top: 5vh;
    margin-bottom: 8vh;
    position: relative;
}

.meme-image{
    border-radius: 0.5vh;
    width: 100%;
}

.meme-text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 7vh;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}


@media screen and (max-width:700px){
    .meme-text{
        font-size: 5vh;
    }
}

@media screen and (max-width:500px){
    .header-box{
        padding: 0 2vh;
    }
    .logo-box h1{
        display: none;
    }
    .meme-text{
        font-size: 3vh;
    }
}

@media screen and (max-width:450px){
    .icon-image{
        display: none;
    }
    .input-box{
        flex-direction: column;
    }
    .input-item{
        width: 100%;
        margin-bottom: 1vh;
    }
    .meme-text{
        font-size: 2.4vh;
    }
}

